/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	color: #CE4F00;
}
/* Page Background */
html {
	background-color: #322F20;
	font-family: 'Odibee Sans', cursive;
}

@media screen and (min-width: 550px) {
	html {
	  background-color: black;
	}
  }

/* Navigation */
.Navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #CE4F00;
	border-left: 20%;
	padding: 1%;
}
a {
	background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #F9EBE0;
  text-decoration: none;
}

a:hover {
	background: none;
	color: #322F20;
	font-family: 'Creepster', serif;
	font-size: 1.2em;
	letter-spacing: 3px;
	line-height: .75em;
  }

/* Top Content */
.topContentImg {
	margin: 10%;
}
.topContent {
	display: flex;
	padding: 5%;
}


/* Connect with us section */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
  }

  .fa-reddit {
	background: #ff5700;
	color: white;
  }
  
  footer{
	  display: flex;
	  padding: 2%;
  }

  .leftMidPic{
	  display: flex;
	  padding: 2%;
  }

  .middlePic {
	display: flex;
	padding: 2%;
}

.leftPic {
	display: flex;
	padding: 2%;
}

.lowLeftContent {
	display: flex;
	padding: 2%;
}

.lowMiddleContent {
	display: flex;
	padding: 2%;
}

.lowRightContent {
	display: flex;
	padding: 2%;
}

p {
	display: flex;
	text-emphasis: center;
	justify-content: center;
	align-items: center;
	padding: 1%;
}

h3 {
	display: flex;
	text-emphasis: center;
	justify-content: center;
	align-items: center;
	padding: 2%;
	font-size: 100px;
}

h2 {
		display: flex;
		text-emphasis: center;
		justify-content: center;
		align-items: center;
		padding: 1%;
		font-size: x-large;
		text-decoration: underline;
}

h1 {
		display: flex;
		text-emphasis: center;
		justify-content: center;
		align-items: center;
		padding: 1%;
		font-size: x-large;
		text-decoration: underline;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.imageabout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
	

.imageabout2 {
	display: flex;
	padding: 3%;
}

@media screen and (max-width: 550px) {
	.imageabout {
	  display: flex;
	  flex-direction: column;
	}
  }